<link href="/styles/index.css" rel="stylesheet">
<div class="hero-wrapper">
    <%- include('partials/header.ejs'); -%>

        <div class="hero my-0">
            <div class="d-flex justify-content-center g-5 py-5 px-5 mx-5 mt-3">

                <div class="col-lg-6 mb-5 mt-3">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 ms-1 mb-3 mt-2">LITLOG</h1>
                    <p class="lead">Litlog is a simple and powerful platform to organize, store, and revisit your notes
                        from books. Whether you're a student, researcher, or lifelong learner, keep all your book
                        summaries,
                        key takeaways, and reflections in one convenient place accessible anytime, anywhere.</p>
                </div>
            </div>
        </div>
</div>

    <%- include('partials/footer.ejs'); -%>