.hero-wrapper {
    position: relative;
    height: 45.6rem;
    background-image: url('/assets/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    pointer-events: none;
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 0;
}
.hero-wrapper > * {
    position: relative;
    z-index: 1;
    pointer-events: auto;
}


.hero {
    padding: 60px 20px;
    pointer-events: none;
}

.head {
    color: white;
    z-index: 1;
    background: transparent;
}

.lead {
    font-size: 1.45rem !important;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
    
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media (prefers-color-scheme: dark) {
    h1, h1 a, h2, h2 a, h3, h3 a, header#masthead a {
        color: #080;
    }
}
h2, h3 {
    margin-top: 2em;
}
h1, h2, h3, label, header#masthead {
    line-height: 1em;
}
header#masthead, h1, h2, h3, dt, small, .small, dl#tweetlist dt, footer, label, #commentlist ol li cite, div.blogparent, input[type="submit"], figcaption {
    font-family: valkyrie_c4;
    font-weight: normal;
    font-style: normal;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
@media (prefers-color-scheme: dark) {
    body, blockquote {
        background-color: #000;
        color: #ccc;
    }
}   